"C:\Users\PC do Jott4\Documents\ProjetosGodot\ada-pairs\icon.svg"
"C:\Users\PC do Jott4\Documents\ProjetosGodot\ada-pairs\icon.svg.import"
"C:\Users\PC do Jott4\Documents\ProjetosGodot\ada-pairs\.godot"